pre {
    white-space: pre-line;
    word-break: keep-all;
}

.card {
    margin: 3p 0px;
} 

.card.rejected {
    background-color: lightcoral;
}

.card.accepted {
    background-color: lightgreen;
}

/* .h-fill {
    width: 100%;
} */

div.container {
    position: relative;
    text-align: center;
}
