<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="header :: header">
    <script th:src="@{js/visitrequest.js}"></script>
</head>
<body <!--onload="setInterval(getLocation, 1000)"-->>

    <div class="container">
        <div th:replace="header :: navbar"></div>

        <pre>For at det skal fungere ordentligt skal du sørge for at have aktiveret GPS på din enhed!</pre>
        <button class="btn btn-primary" onclick="getLocation()">Find mig!</button>
        <div id="position">
            <p>
                Enhedsnummer: <span id="unitNo" th:text="${unitNo}"></span>
            </p>
            <p>
                Position: <span id="pos"></span>
            </p>
            <input id="captured_unit" type="text" placeholder="Fanget enhed" name="captured_unit" required>
            <br>
            <button value="Send position!" id="btn-submit" class="btn btn-primary" onclick="submitPosition()">Send position</button>
            </form>
        </div>
    </div>

</body>
</html>
